/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

.title-block {
    float:left;
    width: 50%;    
}
.page-title-details {
    float:left;
    width: 60%;
    font-family:"Open Sans";
    color: #ccc;
}

h3{
    font-size: 24px;
    color: #55585A;
    font-weight: 400;
}

p{
    font-weight: 300;
    font-size: 14px;
    color: #55585A;
}

.title-logo {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
img {
    max-width: 60px;
    max-height: 60px;
}